<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd 
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://www.springframework.org/schema/util 
                           http://www.springframework.org/schema/util/spring-util-3.0.xsd">
 
	<context:component-scan base-package="prototipo"/>
        <!--configuracion para hacer method injection aun no esta soportado en anotations-->
        <bean id="eventoFactory" class="prototipo.servicio.imp.EventoServicioFactoryImp">
            <lookup-method name="creaEventoGeneral" bean="eventoGeneral"/>
            <lookup-method name="creaEventoEntrega" bean="eventoEntrega"/>
        </bean>
        <bean id="registroCostoFactory" class="prototipo.servicio.imp.RegistroCostoFactoryImp">
            <lookup-method name="creaRegistroHojalateriaPintura" bean="registroHojalateriaPintura"/>
            <lookup-method name="creaRegistroMecanica" bean="registroMecanica"/>
            <lookup-method name="creaRegistroOtrosGastos" bean="registroOtrosGastos"/>
        </bean>
        <bean id="bitacoraView" class="prototipo.view.BitacoraView">
            <lookup-method name="getEventoGeneralView" bean="eventoGeneralView"/>
            <lookup-method name="getEventoEntregaView" bean="eventoEntregaView"/>
        </bean>
        <!--se instancian aqui por limitaciones de anotations-->
        <bean id="telefonoUno" class="prototipo.view.model.TelefonoVB"/>
        <bean id="telefonoDos" class="prototipo.view.model.TelefonoVB"/>
        <bean id="telefonoTres" class="prototipo.view.model.TelefonoVB"/>
	<!-- archivo con configuracion de la aplicacion -->
        <util:properties id="appConfig" location="app.properties"/>
        
        <!--Aspectos-->
        <aop:aspectj-autoproxy/>
        <aop:config proxy-target-class="true"/>
</beans>