<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd 
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           http://www.springframework.org/schema/util 
                           http://www.springframework.org/schema/util/spring-util-3.0.xsd">
 
	<context:component-scan base-package="org.nekorp.workflow.desktop"/>
        <import resource="classpath:/spring/view/viewConfiguration.xml"/>
        <import resource="classpath:/spring/view/model/viewBeans.xml"/>
        <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper" />
        <!--configuracion para hacer method injection aun no esta soportado en anotations-->
        <bean id="eventoFactory" class="org.nekorp.workflow.desktop.servicio.imp.EventoServicioFactoryImp">
            <lookup-method name="creaEventoGeneral" bean="eventoGeneral"/>
            <lookup-method name="creaEventoEntrega" bean="eventoEntrega"/>
            <lookup-method name="creaEventoSistema" bean="eventoSistema"/>
            <lookup-method name="creaEventoReclamacion" bean="eventoReclamacion"/>
            <lookup-method name="creaEventoFinServicio" bean="eventoFinServicio"/>
            <lookup-method name="creaEventoDiagnostico" bean="eventoDiagnostico"/>
            <lookup-method name="creaEventoObservaciones" bean="eventoObservaciones"/>
        </bean>
        <bean id="pagoFactory" class="org.nekorp.workflow.desktop.servicio.imp.CobranzaPagoServicioFactoryImp">
            <lookup-method name="creaPagoVB" bean="pagoCobranza"/>
        </bean>
        <bean id="registroCostoFactory" class="org.nekorp.workflow.desktop.servicio.imp.RegistroCostoFactoryImp">
            <lookup-method name="creaRegistroHojalateriaPintura" bean="registroHojalateriaPintura"/>
            <lookup-method name="creaRegistroMecanica" bean="registroMecanica"/>
            <lookup-method name="creaRegistroOtrosGastos" bean="registroOtrosGastos"/>
        </bean>
        <bean id="accounts-RestTemplateFactory" class="org.nekorp.workflow.desktop.rest.util.RestTemplateFactory">
            <property name="host" value="#{appConfig['app.account.host']}"/>
            <property name="port" value="#{appConfig['app.account.port']}"/>
            <property name="protocol" value="#{appConfig['app.account.protocol']}"/>
            <property name="api" value="#{appConfig['app.account.api.uri']}"/>
        </bean>
        <bean id="taller-RestTemplateFactory" class="org.nekorp.workflow.desktop.rest.util.RestTemplateFactory">
            <property name="host" value="#{appConfig['app.backend.host']}"/>
            <property name="port" value="#{appConfig['app.backend.port']}"/>
            <property name="protocol" value="#{appConfig['app.backend.protocol']}"/>
            <property name="api" value="#{appConfig['app.backend.api.uri']}"/>
        </bean>
        <bean id="customer-RestTemplateFactory" class="org.nekorp.workflow.desktop.rest.util.RestTemplateFactory">
            <property name="host" value="#{appConfig['app.customers.host']}"/>
            <property name="port" value="#{appConfig['app.customers.port']}"/>
            <property name="protocol" value="#{appConfig['app.customers.protocol']}"/>
            <property name="api" value="#{appConfig['app.customers.api.uri']}"/>
        </bean>
	<!-- archivo con configuracion de la aplicacion el bueno-->
        <util:properties id="appConfig" location="file:app.properties"/>
        <!--mensajes-->
        <!-- i18n -->
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
            <property name="basename" value="/spring/i18n/ValidationMessages" />
  	</bean>
        <!--Aspectos-->
        <aop:aspectj-autoproxy/>
        <aop:config proxy-target-class="true" expose-proxy="true"/>
</beans>